<div class="pointer-events-none absolute inset-2 z-0 border border-[#d4e3e0] text-[#78a7a1] select-none after:absolute after:inset-x-[calc(50%-12px)] after:-inset-y-px after:border-y-3 after:border-current after:content-[''] sm:inset-4 sm:before:absolute sm:before:inset-2 sm:before:border-x sm:before:border-[#e4eeec] sm:before:content-[''] print:hidden dark:border-[#2b403d] dark:text-[#527d75] dark:sm:before:border-[#1f302d]" aria-hidden="true">
    <span class="absolute -top-px -left-px size-4.5 border-t border-l border-current sm:size-6.5"></span>
    <span class="absolute -top-px -right-px size-4.5 border-t border-r border-current sm:size-6.5"></span>
    <span class="absolute -bottom-px -left-px size-4.5 border-b border-l border-current sm:size-6.5"></span>
    <span class="absolute -right-px -bottom-px size-4.5 border-r border-b border-current sm:size-6.5"></span>
    <span class="absolute top-1/2 -left-1.25 size-2.25 before:absolute before:top-1 before:h-px before:w-2.25 before:bg-current before:content-[''] after:absolute after:left-1 after:h-2.25 after:w-px after:bg-current after:content-['']"></span>
    <span class="absolute top-1/2 -right-1.25 size-2.25 before:absolute before:top-1 before:h-px before:w-2.25 before:bg-current before:content-[''] after:absolute after:left-1 after:h-2.25 after:w-px after:bg-current after:content-['']"></span>
    <span class="absolute top-[28%] -left-1 h-18.25 w-1.75 bg-[repeating-linear-gradient(to_bottom,currentColor_0_1px,transparent_1px_12px)] max-sm:hidden"></span>
    <span class="absolute -right-1 bottom-[28%] h-18.25 w-1.75 bg-[repeating-linear-gradient(to_bottom,currentColor_0_1px,transparent_1px_12px)] max-sm:hidden"></span>
</div>
